<h2>{{ site.i18n.found }}</h2>

{% if site.aboutme_user %}
<a href="http://about.me/{{site.aboutme_user}}" rel="tooltip" title="About.me"><img class="social_icon" title="About.me" alt="about.me icon" src="{{ root_url }}/images/glyphicons_035_woman.png"></a>
{% endif %}

{% if site.github_user %}
<a href="https://github.com/{{site.github_user}}/" rel="tooltip" title="Github"><img class="social_icon" title="Github" alt="github icon" src="{{ root_url }}/images/glyphicons_381_github.png"></a>
{% endif %}

{% if site.stackoverflow_user %}
<a href="http://stackoverflow.com/users/{{site.stackoverflow_user}}/" rel="tooltip" title="Stack Overflow"><img class="social_icon" title="Stack Overflow" alt="stack overflow icon" src="{{ root_url }}/images/glyphicons_400_stack_overflow.png"></a>
{% endif %}

{% if site.linkedin_user %}
<a href="http://www.linkedin.com/in/{{site.linkedin_user}}" rel="tooltip" title="Linkedin"><img class="social_icon" title="Linkedin" alt="Linkedin icon" src="{{ root_url }}/images/glyphicons_377_linked_in.png"></a>
{% endif %}

{% if site.twitter_user %}
<a href="http://twitter.com/{{site.twitter_user}}" rel="tooltip" title="Twitter"><img class="social_icon" title="Twitter" alt="Twitter icon" src="{{ root_url }}/images/glyphicons_391_twitter_t.png"></a>
{% endif %}

{% if site.facebook_user %}
<a href="https://www.facebook.com/{{site.facebook_user}}" rel="tooltip" title="Facebook"><img class="social_icon" title="Facebook" alt="Facebook icon" src="{{ root_url }}/images/glyphicons_410_facebook.png"></a>
{% endif %}

{% if site.googleplus_user %}
<a href="https://plus.google.com/{{site.googleplus_user}}?rel=author" rel="tooltip" title="Google Plus"><img class="social_icon" title="Google Plus" alt="Google Plus icon" src="{{ root_url }}/images/glyphicons_386_google_plus.png"></a>
{% endif %}

{% if site.quora_user %}
<a href="http://www.quora.com/{{site.quora_user}}" rel="tooltip" title="Quora"><img class="social_icon" title="Quora" alt="Quora icon" src="{{ root_url }}/images/glyphicons_385_quora.png"></a>
{% endif %}

{% if site.foursquare_user %}
<a href="https://foursquare.com/{{site.foursquare_user}}" rel="tooltip" title="Foursquare"><img class="social_icon" title="Foursquare" alt="Foursquare icon" src="{{ root_url }}/images/glyphicons_404_4square.png"></a>
{% endif %}

{% if site.deviantart_user %}
<a href="http://{{site.deviantart_user}}.deviantart.com" rel="tooltip" title="deviantART"><img class="social_icon" title="deviantART" alt="deviantART icon" src="{{ root_url }}/images/glyphicons_395_deviantart.png"></a>
{% endif %}

{% if site.flickr_user %}
<a href="http://www.flickr.com/photos/{{site.flickr_user}}/" rel="tooltip" title="flickr"><img class="social_icon" title="flickr" alt="flickr icon" src="{{ root_url }}/images/glyphicons_415_flickr.png"></a>
{% endif %}

{% if site.lastfm_user %}
<a href="http://www.lastfm.com.br/user/{{site.lastfm_user}}" rel="tooltip" title="last.fm"><img class="social_icon" title="last.fm" alt="last.fm icon" src="{{ root_url }}/images/glyphicons_416_last_fm.png"></a>
{% endif %}

{% if site.email %}
<a href="mailto:{{ site.email }}">{{ site.email }}</a>
{% endif %}

{% if site.subscribe_rss %}
<h2>{{ site.i18n.rss_title }} <a href="{{site.subscribe_rss}}" rel="tooltip" title="RSS"><img class="social_icon" title="RSS" alt="RSS icon" src="{{ root_url }}/images/glyphicons_417_rss.png"></a></h2>
{% endif %}