@import "compass";
@include global-reset;
@include reset-html5;

@import "custom/colors";
@import "custom/fonts";
@import "custom/layout";
@import "base";
@import "custom/styles";

a {
	color: $link_color;
	&:hover {
		color: $link_hover_color;
	}
}

.nav > li > a {
	text-transform: capitalize;
}

